@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

* {
  -webkit-font-smoothing: antialiased;
}

body{
  margin:0;
  padding:0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}